*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: "Geist";
}
body {
  background-color: white;
}
.navbar {
  height: 8.8rem;
  padding: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#expense-tracker {
  font-size: 3rem;
  color: rgb(88, 88, 251);
}
#manage-finance {
  font-size: 1.4rem;
  color: rgb(99, 98, 98);
}
.navright-part {
  background-color: rgb(249, 245, 245);
  height: 4rem;
  width: 4rem;
  border-radius: 0.5rem;
  padding: 0.8rem;
}

.navright-part i {
  height: 2.4rem;
  width: 2.4rem;
  font-size: 2rem;
}

/* main */

main {
  padding: 3.2rem 1.6rem;
  background-color: whitesmoke;
}
.first-section {
  height: 14.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3rem;
}

.total-balance {
  border: 1px solid rgb(231, 231, 231);
  border-radius: 2rem;
  padding: 2.4rem;
  background-color: #ffffff;
}
.balance-wallet {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 1.6rem;

  font-size: 1.4rem;
}

.balance-wallet span {
  font-size: 1.4rem;
  font-weight: 500;
  color: rgb(94, 93, 93);
}
.wallet-icon {
  border-radius: 0.5rem;
  background-color: rgb(138, 138, 248);
  height: 4.4rem;
  width: 4.4rem;
  font-size: medium;
  padding: 1.2rem;
}
.wallet-icon i {
  font-size: 1.8rem;
}
#balance-amount {
  font-size: 3rem;
  color: rgb(94, 94, 227);
}

.total-income {
  border: 1px solid rgb(231, 231, 231);
  border-radius: 2rem;
  padding: 2.4rem;
  margin: 0, 0, 1.6rem;
  background-color: #ffffff;
}
.right-arrow {
  border-radius: 0.5rem;
  background-color: rgb(61, 202, 61);
  height: 4.4rem;
  width: 4.4rem;
  font-size: medium;
  padding: 1.2rem;
}
.income-wallet {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 1.6rem;
  font-size: 1.4rem;
}

.income-wallet span {
  font-size: 1.4rem;
  color: rgb(94, 93, 93);
  font-weight: 500;
}

#income-amount {
  color: rgb(17, 175, 17);
  font-size: 3rem;
}

.total-expense {
  border: 1px solid rgb(231, 231, 231);
  border-radius: 2rem;
  padding: 2.4rem;
  margin: 0, 0, 1.6rem;
  background-color: #ffffff;
}
.left-arrow {
  border-radius: 0.5rem;
  background-color: rgb(248, 65, 65);
  height: 4.4rem;
  width: 4.4rem;
  font-size: medium;
  padding: 1.2rem;
}
.expense-wallet {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 1.6rem;
  font-size: 1.4rem;
}

.expense-wallet span {
  font-size: 1.4rem;
  color: rgb(94, 93, 93);
  font-weight: 500;
}

#expense-amount {
  color: rgb(195, 6, 6);
  font-size: 3rem;
}

/* second-section */
.second-section {
  margin: 3.2rem 0 0;
  display: flex;
  gap: 3rem;
  width: 100%;
}

.left-part {
  background-color: #ffffff;
  border: 1px solid rgb(232, 230, 230);
  border-radius: 1rem;
  padding: 2.4rem;
  width: 30%;
  height: fit-content;
}
.left-part h2 {
  font-size: 2rem;
  margin: 0 0 2.4rem;
  color: rgb(22, 22, 22);
}
.buttons {
  display: flex;
  gap: 2rem;
  margin: 0 0 1.6rem;
}

#income-btn {
  background-color: rgb(210, 208, 208);
  padding: 0.8rem 0.12rem;
  font-size: 1.6rem;
  color: rgb(68, 67, 67);
  border: 1px solid transparent;
  border-radius: 0.5rem;
  width: 10rem;
  font-weight: 500;
}

#expense-btn {
  background-color: rgb(255, 77, 77);
  padding: 0.8rem 0.12rem;
  font-size: 1.6rem;
  color: rgb(68, 67, 67);
  border: 1px solid transparent;
  border-radius: 0.5rem;
  width: 10rem;
  color: #ffffff;
  font-weight: 500;
}

.amount {
  margin: 0 0 1.6rem;
}

.amount p {
  font-size: 1.4rem;
  margin: 0 0 0.8rem;
  color: rgb(42, 41, 41);
  font-weight: 500;
}
.amount input {
  padding: 0.8rem 1.6rem;
  background-color: #ffffff;
  border: 1.5px solid rgb(201, 199, 199);
  border-radius: 0.8rem;

  width: 95%;
}

.category {
  margin: 0 0 1.6rem;
}

.category p {
  font-size: 1.4rem;
  margin: 0 0 0.8rem;
  color: rgb(42, 41, 41);
  font-weight: 500;
}
.category input {
  padding: 0.8rem 1.6rem;
  background-color: #ffffff;
  border: 1.5px solid rgb(201, 199, 199);
  border-radius: 0.8rem;
  width: 95%;
}

.description {
  margin: 0 0 1.6rem;
}

.description p {
  font-size: 1.4rem;
  margin: 0 0 0.8rem;
  color: rgb(42, 41, 41);
  font-weight: 500;
}
.description input {
  padding: 0.8rem 1.6rem;
  background-color: #ffffff;
  border: 1.5px solid rgb(201, 199, 199);
  border-radius: 0.8rem;
  width: 95%;
}

.date {
  margin: 0 0 1.6rem;
}

.date p {
  font-size: 1.4rem;
  margin: 0 0 0.8rem;
  color: rgb(42, 41, 41);
  font-weight: 500;
}
.date input {
  padding: 0.8rem 1.6rem;
  background-color: #ffffff;
  border: 1.5px solid rgb(201, 199, 199);
  border-radius: 0.8rem;
  width: 95%;
}

.add-btn {
  margin: 0 0 1.6rem;
}
.add-btn button {
  background-color: rgb(244, 43, 43);
  border-radius: 0.8rem;
  width: 200px;
  height: 35px;
  border: 1px solid transparent;
  color: white;
  font-weight: 600;
  width: 95%;
}

.right-part {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.first-right-section {
  padding: 2.4rem;
  background-color: #ffffff;
  border: 1px solid rgb(232, 230, 230);
  border-radius: 1rem;
}

.barchart h2 {
  margin: 0 0 1.6rem;
  font-size: 2.4rem;
  color: rgb(32, 32, 32);
}

.second-right-section {
  background-color: #ffffff;
  border: 1px solid rgb(232, 230, 230);
  border-radius: 1rem;

  padding: 2.4rem;
}

.filters {
  width: 80%;
}
.filters h3 {
  margin: 0 0 1.6rem;
  font-size: 1.8rem;
  color: rgb(34, 33, 33);
}

.category p {
  font-weight: 500;
}

.dates {
  display: flex;
  gap: 2rem;
  margin: 0 0 1.6rem;
}
.start-date p {
  margin: 0 0 0.8rem;
  font-size: 1.4rem;
  font-weight: 500;
}

.start-date input {
  padding: 0.8rem 1.6rem;
  background-color: #ffffff;
  border: 1.5px solid rgb(201, 199, 199);
  border-radius: 0.8rem;
}

.end-date p {
  margin: 0 0 0.8rem;
  font-size: 1.4rem;
  font-weight: 500;
}
.end-date input {
  padding: 0.8rem 1.6rem;
  background-color: #ffffff;
  border: 1.5px solid rgb(201, 199, 199);
  border-radius: 0.8rem;
}

.reset-btn button {
  padding: 0.8rem 1.6rem;
  font-size: 1.6rem;
  background-color: #f5f5f5;
  width: 95%;
  border: 1.5px solid rgb(201, 199, 199);
  border-radius: 1rem;
}

.third-right-section {
  background-color: #ffffff;
  border: 1px solid rgb(232, 230, 230);
  border-radius: 1rem;
  padding: 3.2rem;
}

.third-right-section p {
  font-size: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
